body{
	background-color: #eea1a1;
}

.container {
	background-color: #c89797;
	padding: 15px;
	box-shadow: 10px 10px 5px 0px rgba(74,49,52,0.75);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(74,49,52,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(74,49,52,0.75);
}